
  {% extends "layout.html" %}

  {% block content %}

    <table id="game" align="center">
    
      <title class="title">Donnerstag</title>

      <div style="width: 288px; align-content: center;">
        {% for hour in day.hours %}
          <tr text-align="center">
            <td>{{hour.hour_str}}</td>
            {% for event_colour in hour.events %}
              <td style="background-color: {{event_colour}}"></td>
            {% endfor %}
          </tr>
        {% endfor %}
      </div>

    </table>

  {% endblock %}
